
html{
	box-sizing: border-box;
	font-size: 62.5%;
}

*,*:before, :after{
	box-sizing: inherit;
}

body{
	font-family:´Lato´, sans serif;
	font-size:1.6rem;
	line-height: 2;
}

img{
	max-width: 100%;
}

.contenedor{
	width: 95%;
	max-width: 120rem;
	margin: 0 auto;
}

.site-header{
	background-color:black;
	padding: 1rem 0 3rem 0;
}

.site-header.inicio{
	background-image: url(../img/c.jpg);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem; 
}

.contenido-header{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    text-align: center;
    
}

@media(min-width:768px){
	.contenido-header{
		text-align: left;
	}
}

.contenido-header h1{
	color:#ffffff;
	padding-bottom: 10rem;
	max-width: -10rem;
    line-height: 2;
}

.contenido-header h2{
	color:#ffffff;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 2;
}

@media (min-width: 768px){
	.barra{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.navegacion a{
	color: #ffffff;
	text-decoration: none;
	font-size: 5rem;
	display: block;
}

@media(min-width: 768px){
	.navegacion a{
		display: inline-block;
		font-size: 3.5rem;
		margin-right: 2rem;
	}
	.navegacion a:last-of-hover{
		margin: 0;
	}
}

.navegacion a:hover{
	color: #71B100;
}

/**Utilidades**/

.seccion{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.com{
	font-weight: 300;
}

.centrar-texto{
	text-align: center;
}

.d-block{
	display: block!important;
}

.contenido-centrado{
	max-width: 800px;
}



/*about-page*/
 
    p.sub-heading{
            font-size:16px;
            color:#212121;
            line-height:28px;
            letter-spacing:.5px;
            max-width:715px;
            display:inline-block;		
    }
    .mrg-top{
            margin-top:30px;
    }
    .jewel {
        position: relative;
    }
    .about-page .jewel {
        margin-top:20px;
    }
    .jewel-info{
            position:absolute;
            width:40%;
            right:15px;
            top:50%;
            transform:translateY(-50%) !important;
            background-color:#fff;
            padding:40px;
            box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    }
    .jewel-info h2{
            font-size:30px;
            text-transform:uppercase;
            font-weight:600;
            margin-top:0;
            margin-bottom:15px;
    }
    .jewel-info p{
            font-size:14px;
            line-height:24px;
            margin-bottom:20px;
    }
    .jewel-info a.a-view-all{
            float:none;
            padding:13px 30px;
    }
    .store-intro-sec-body p{
            font-size:16px;
            line-height:24px;
            letter-spacing:.3px;
            margin-bottom:20px;
    }
    @media (min-width:1430px) and (max-width:1800px){
    .store-intro-sec-body h2{
            margin-top:40px;
    }
    }
    
    .about-page .icon h2{
            margin:15px 0;
    }
    .icon{
            padding-top:80px;
    }
    .icon i{
            font-size:80px;
    }



/**Footer**/
body{height: 900px;}
footer{
	
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

footer .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #017FFC 10%, #F4FC01 120%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: white;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}